h2 {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
  }
 .decription {
    font-size: 1rem;
    margin-top: 8px;
    color: #555;
    display: block;
  }
  strong {
    color: #4caf50;
  }
  .return{
    display: none;
  }
  .delete{
    display: block;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #ff4081; /* Pink background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  
  }
  .productImg{
    width: 25vw;
    height: 35vh;
}

.container {
  width: 40vw;
  height: 60vh;
  background-color: #f9f9f9;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}